<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
    <link rel="icon" type="../image/png" href="../images/favicon.png">
    <meta name = "viewport" content = "width = device-wdith, initial-scale = 1.0">
    <title>Latent Lamb</title>
    <link rel = "stylesheet" href = "../style.css">
    <script src="https://kit.fontawesome.com/3150d9fea2.js" crossorigin="anonymous"></script>
</head>
<body>

<!--- top of page content -->
<div class="header_container">
    <img src="../images/logo.png" class="logo">
</div>
<div id="overlay"></div>
    <nav>
        <ul id="sidemenu">
            <li> </li>
            <li> </li>
            <li><a href="../index">Home</a></li>
            <li><a href="../strava_test">Portfolio</a></li>
            <li><a href="../page1">About</a></li>
            <li><a href="#">Socials</a></li>
            <i class="fas fa-circle-xmark" onclick="closemenu()"></i>
        </ul>
        <i class="fas fa-bars" onclick="openmenu()"></i>
    </nav>

<!--- d3 content -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>D3 Map Visualization</title>
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <style>
            /* Define CSS styles for the map */
            svg {
                margin-left: 10%;
                background-color: #f0f0f0;
                width: 80%; /* Set SVG width to 100% of the viewport width */
                height: 100vh; /* Set SVG height to 100% of the viewport height */
            }
            .point {
                fill: yellow;
                stroke: #bd1b1b;
                stroke-width: 0.2px;
                opacity: 80%;
            }
            .boundary {
            fill: none;
            stroke: #000;
            stroke-width: 1;
            }
        </style>
    </head>
    <body>
        <svg></svg>
    
        <script>
            // Load CSV data
            d3.csv("../data/strava_ride_details.csv").then(function(data) {
                // Set up map projection
                const projection = d3.geoMercator()
                    .center([-0.131908, 51.460591])
                    .scale(100000)
                    .translate([window.innerWidth / 2, window.innerHeight / 2]);
    
                // Create SVG element
                const svg = d3.select("svg");
                // Plot data points
                svg.selectAll(".point")
                    .data(data)
                    .enter().append("circle")
                    .attr("class", "point")
                    .attr("cx", function(d) { return projection([+d.lng, +d.lat])[0]; })
                    .attr("cy", function(d) { return projection([+d.lng, +d.lat])[1]; })
                    .attr("r", 3);
            }).catch(function(error) {
                console.error("Error loading data:", error);
            });
        </script>
    </body>

<!--- socials page -->
<div id = "services">
    <div class= "container">
        <div class = "services-list">
            <div>
                <a href="https://github.com/lumpishlamb"><i class="fa-brands fa-github"></i><span> : Github</span></a>
                <p>I upload code via the GitHub GUI.</p>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/lam-%F0%9F%8D%83-0b5bb2150/"><i class="fa-brands fa-linkedin-in"></i><span> : LinkedIn</span></a>
                <p>Endorse for endorse?</p>
            </div>
            <div>
                <a href="https://www.strava.com/athletes/1278599"><i class="fa-brands fa-strava"></i><span> : Strava</span></a>
                <p>Watch me ride my bike</p>
            </div>
            <div>
                <a href="https://www.instagram.com/latentlamb/"><i class="fa-brands fa-instagram"></i><span> : Instagram</span></a>
                <p>I won't follow you back.</p>
            </div>            

        </div>
    </div>
</div>
    
<script>
    var sidemenu = document.getElementById("sidemenu");
    var body = document.body;
    var overlay = document.getElementById("overlay");
    function openmenu(){
        sidemenu.style.left = "0";
        body.style.overflow = "hidden"; // Disable scrolling
        overlay.style.display = "block"; // Show overlay
    }
    function closemenu(){
        sidemenu.style.left = "-200px";
        body.style.overflow = "auto"; // Restore scrolling
        overlay.style.display = "none"; // Hide overlay
    }
</script>

</body>
</html>