body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main-container {
    background: #fff;
    padding-left: 20vw;
    padding-right: 20vw;

}

.main-container h5{
    padding-top: 5px;
    color: #111;
}

.container {
    max-width: 60vw;
    background: #fff;
    color: #111;
    margin: 0 auto;

}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.product {
    flex: 0 0 calc(50% - 10px); /* 50% width with some spacing */
    text-align: center;
    border: 1px solid #ddd; /* Add grey outline */
    padding: 20px; /* Add padding */
    margin-bottom: 10px;
    box-sizing: border-box; /* Include border and padding in width calculation */
}

.product img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.product h2 {
    margin: 0;
    font-size: 16px;
}

.product p {
    margin: 5px 0;
    font-size: 12px;
}

.product button {
    background-color: #f0c14b; /* Amazon's yellow color */
    color: #111;
    padding: 5px 15px;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    border-radius: 5px;
}

.product button:hover {
    background-color: #ddb347;
}
