*{
    margin: 0;
    padding: 0;
    font-family: 'Poppings', sans-serif;
    box-sizing: border-box;
}
body{
    background: #0b121b;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}

.menu_bar {
    background-color: #ffff; /* Set the background color */
}

.header_container{
    width: 100%;
    height: auto; /* Adjust as needed */
    overflow: hidden; /* This can help contain floated elements */
}

.container{
    padding: 10px 10%;
    width: 100%;
    height: auto; /* Adjust as needed */
    overflow: hidden; /* This can help contain floated elements */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
    background-color: #0b121b;
}
.logo{
    width: 120px;
    margin-left: 5%;
    padding-top: 4px;
    padding-bottom: 2.5px;
}
.logo img{
    display:block;
    margin: 0 auto;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color : #fff;
    text-decoration : none;
    font-size : 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background : #e18910;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.25s;
}
nav ul li a:hover::after{
    width: 100%;

}
.header-text{
    margin-top: 20%;
    padding: 10px 10%;
    width: 100%;
    font-size: 30px;    
    color:#fff
}
.header-text span{
    background: #0b121b;
}
.header-text h1{
    font-size: 60px;
    margin-top : 20px;
}

.header-text h1 span{
    color:#e18910;
}

/*--- about ---*/
#about{
    margin-top: 0px;
    height: 70vh;
    color: #ababab;
    background-color: #232f3e;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    place-items: center;
}
.about-col-1 img{
    margin-top: 40px;
    width: 40%;
    border-radius: 15px;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: auto; /* Maintain aspect ratio */
    
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:#fff;
}
.sub-sub-title{
    font-size: 30px;
    font-weight: 600;
    color:#fff;
}
.tab-title{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width : 0;
    height: 3px;
    background: #e18910;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.25s;
}

.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 20px 0;

}
.tab-contents ul li span{
    color: #febd6a;
    font-size:16px;
    font-weight: bold;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;}

/* --- services --- */
#services{
    padding: 10px 0;
    background-color: #131a22;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:15px;
    margin-top:10px;
}
.services-list div{
    background: #262626;
    padding: 20px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.25s, transform 0.25s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 25px;
}
.services-list div span{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
}
.services-list div a{
    text-decoration: none;
    color:#fff;
    font-size: 12px;
    margin-top: 0px;
    display: inline-block;
}
.services-list div:hover{
    background: #e18910;
    transform: translateY(-10px);
}

/* --- portfolio --- */
#portfolio{
    padding: 10px 0;
    background-color: #e4e6e6;
    padding-bottom: 10px;
    padding-top: 10px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:40px;
    margin-top:35px;    
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display:block;
    transition: transform 0.25s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#e18910);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.25s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #e18910;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);

}
.work:hover .layer{
    height:100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #e18910;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.25s;
}
.btn:hover{
    background: #e18910;

}

.white-line {
    border: none;
    height: 2px; /* Adjust height as needed */
    background-color: #3a4553; /* Specify the desired color */
    margin: 0px 0; /* Adjust margin as needed */
}


/*--- css for mobile screens --*/
nav .fas{
    display: none;
}
@media only screen and (max-width: 600px) {
    #header {
        background-image: url(images/phone-background.png);
    }
    .header-text {
        margin-top: 50%;
        font-size: 1rem; /* Changed to rem */
    }
    .header-text h1 {
        font-size: 1.5rem; /* Changed to rem */
        margin-top: 0.625em; /* Changed to em */
    }
    nav .fas {
        display: block;
        font-size: 1.25rem; /* Changed to rem */
    }
    nav ul {
        background: #131921;
        position: fixed;
        top: 0;
        left: -12.5rem; /* Changed to rem */
        width: 12.5rem; /* Changed to rem */
        height: 100vh;
        padding-top: 3.125rem; /* Changed to rem */
        z-index: 2;
        transition: left 0.25s;
    }
    nav ul li {
        display: block;
        margin: 1.5625rem; /* Changed to rem */
    }
    nav ul .fas {
        position: absolute;
        top: 1.5625rem; /* Changed to rem */
        left: 1.5625rem; /* Changed to rem */
        cursor: pointer;
    }
    .sub-title {
        font-size: 2.5rem; /* Changed to rem */
    }
    #about {
        padding: 0;
        margin-top: 0.625em
